.header {
  margin-bottom: 30px;
}
/* Modify the background color */

.navbar-custom {
  background-color: red;
}
/* Modify brand and text color */

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: pink;
}

.nav {
  border: 3px blue dashed;
  margin-bottom: 30px;
  text-align: center;
}

h1 {
  display: flex;
  justify-content: center;
  color: pink;
  margin-top: 20px;
}

.carousel-item {
  height: 428px;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main {
  display: flex;
}

.section {
  text-align: center;
  margin-bottom: 30px;
  width: 50%;
}

.fluffy {
  width: 50%;
}

.article {
  display: flex;
  justify-content: center;
  border: 3px blue dashed;
  width: 50%;
  margin-bottom: 10px;
}

.aside {
  text-align: center;
  width: 50%;
  margin-left: 10px;
  margin-bottom: 30px;
}
#containerAside {
  display: flex;
  justify-content: right;
}

#containerArticle {
  display: flex;
  justify-content: center;
}

.footer {
  border: 3px blue dashed;
  margin-bottom: 30px;
  text-align: center;
}
