html {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

body {
    background: linear-gradient(#457c82,#0f2629);
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}

#web-container {
    width: 80%;
    margin: auto;
}

menu {
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    margin: 0;
    padding: 0;
    text-align: right;
    height: 50px;
    line-height: 50px;
}

nav {
       margin-right: 10%;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav ul li {
   display: inline;
   padding-left: 2%;
   padding-right:5%;
   text-transform: uppercase;
   font-weight: bold;
   color: darkgrey;  
   position: relative;      
}

nav li img {
    width: 30px;
    vertical-align: middle;
}

h1 {
    color: white;
    text-transform: uppercase;
    font-size: 150px;
    text-align: center;
    position: center;
}

h2 {
    color:white;
    text-transform: uppercase;
    font-size: 60px;
    text-align: center;
    position: center;
}

h3 {
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
}

#banner {
    margin: 0;
    background-image: url('../img/headerimg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height: 750px;
    overflow: hidden;
}

#commands {
    margin-top: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
}

#commands img { 
    display: block;
    width: 20%;
    border-radius: 380px;
    margin: auto;
}

#commands li {
    display: grid;
    align-items: center;
    grid-template-columns: 10% 90%;
    grid-template-rows: 1;
    list-style-type: none;
    width: 80%;
    margin-bottom: 10px;
}

#commands li p{
    grid-column: 2/2;
    grid-row: 1/1;
    vertical-align: middle;    
}

#commands li img {
    grid-column: 1/2;
    width: 50px;
    vertical-align: middle;
    
}

.smalltext {
    font-style: italic;
    text-align: center;
    margin-bottom: 2%;
}

footer {
    background:linear-gradient(to right,lightcoral, orange);
    bottom: 0;
    height: 100px;
    color: white;
    text-align: center;
    font-size: xx-large;
    padding: 0;
    margin: 0;
}

footer a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
    font-weight: bold;
     

}

footer img {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    padding-bottom: 2px;
}

.footer-container {
    padding-top: 10px;
    display: block;
    align-self: center;
    height: 80px;
}

.submenu {
    display:none;
    background-color: lightgray;
    width: 200px;    
}

nav > ul li:hover .submenu {
    display: block;
    position: absolute;
    left: 10%;
}

.submenu li {
    display: block;
    text-align: left;
    float: none;
    width:100%;
    padding-left: 5%;
    
}