* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    display: block;

    margin: 0 auto;
    margin: 0;
    font-size: 1.6rem;
    
}

header {
    background-color: salmon;
    color: white;
   
}

.container {
    max-width: 1100px;
    margin: 0 auto;
   
}
/* Recette */
#recette .element {
  width: 25%;
  padding: 0.625rem;
  text-align: center;
}

.element img {
  width: 50%;
  margin: 0 auto;
  display: block;
}


#atelier {
  background:linear-gradient(to top, red, yellow);
  color: white;
}

#atelier h2 {
  color: white;
}

#atelier .element {
  display: flex;
  
  width: 50%;
  padding: 0.625rem;
}

.media, .media-detail {
  width: 50%;
}

.media iframe {
  width: 100%;
  padding-right: 0.625rem;
}


/* COMING SOON */
#vid {
  position: relative;
  max-height: 25rem;
  overflow: hidden;
  padding: 0;
}

#vid video {
  width: 100%;
}

#vid .container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to bottom, red 10%, rgba(234,34,45,0) 100%);
  max-width: 100%;
  min-height: 25rem;
}

#vid h2 {
  color: white;
}

#vid table {
  background-color: white;
  border: 5px solid #ea222d;
  width: 50%;
  margin: 0 auto;
  margin-top: 3.75rem;
}

#vid tr {
  padding: 0.312rem 0;
}

#vid th, #vid td {
  padding: 0.312rem 0;
}
  
#vid th {
  font-weight: bold;
  border-bottom: 0.062rem solid #ea222d;
}

#vid td {
  text-align: center;
}



/* CONTACT */
#contact .element {
  width: 50%;
}

#contact .element iframe {
  width: 100%;
  min-height: 23.125rem;
}

.form-group {
  padding: 10px 0;
}

form {
  padding: 0 1.562rem;
}

input, select, textarea {
  width: 100%;
  min-height: 1.875rem;
  margin-top: 0.312rem;
  border-radius: 0.312rem;
  box-shadow: none;
  border: 1px solid #666;
}

select {
  height: 1.875rem;
}

input[type="submit"] {
  color: #ea222d;
  border: 0.062rem solid #ea222d;
  font-size: 1rem;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #ea222d;
  color: white;
}


/* à partir de la tablette  */
@media screen and (min-width: 768px) {
    .recipes {
        display: flex;
    }

    .recipe {
        padding: 0;
    }
}

/* uniquement pour la tablette */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .recipes {
        flex-wrap: wrap;
    }

    .recipe {
        flex-basis: 50%;
    }
}

.recipe img {
    width: 100%;
}




li {
    display: inline;
  }
 
  
  a {
    display: block;
    padding: 8px;   background:linear-gradient(to top, red, yellow);
    
  }
 
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
  }
  
 
  li a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
  }
  
  /* Changer la couleur pour cliquer*/
  li a:hover {
   background:linear-gradient(to top, rgb(165, 216, 45), yellow);

  }
  .active {
    background-color: #b8c92d;
  }
  ul {
    position: fixed;
    top: 0;
    width: 100%;
  }
  nav{
    
    background-color: #fd3e04;


    position: fixed;
    top: 0;
    width: 100%;
  }
  
 


/* FOOTER */
footer {
  background:linear-gradient(to top, red, yellow);
  color: white;
}

footer p {
  margin: 0;
  padding: 1.25rem 0;
}

footer .elements {
  justify-content: space-between;
}

.social ul li {
  display: inline-block;
  padding-right: 0.312rem;
}

.social ul li a {

  color: white;
}

.social ul li a:hover {
  color: whitesmoke;
}