:root {
    --menu-height: 60px;
}

html {

}

body {
    margin               : 0!important;
    padding              : 0!important;
    top                  : 0!important;
    font-family          : 'Open Sans', sans-serif;
}

a {
    text-decoration      : none;
}



#root a{
    color                : lightgray;
}

#root a:hover {
    color                : #c99133;
}

#root a:active {
    color                : #ff6f00;
    font-weight          : bold;
}

/* MENU-------------------------------------------------------------------------*/
/*hide burger menu*/
#menu-responsive, #hamburger_icon {
    display: none;
}
.topnav{
    display              : flex;
    width                : 100%;
    height               : var(--menu-height);
    margin-block-start   : 0;
    margin-block-end     : 0;
    padding-inline-start : 0;
    position             : fixed;
    top                  : 0;
    left                 : 0;
    padding              : 0;
    z-index              : 1000;
    background           : transparent;
    backdrop-filter      : blur(5px);
    text-transform       : uppercase;

}
#menu-wide {
    flex                 : 3;
    margin-right         : 10%;
    overflow             : hidden;
}
#monogram {
    margin-left          : 10%;
    flex                 : 1;
    color                : #c99133;
    font-weight          : bold;
}

#menu-wide > ul {
    display              : flex;
    text-align           : right;
}
#menu-wide> ul > li {
    display              : inline;
    flex                 : 1;
}


/*HEADER ----------------------------------------------------------------------------*/

header {
    height: 450px;
    background: linear-gradient(black,#0f2629,#457c82);
    display: block;
}

/* FOOTER ---------------------------------------------------------------------------*/
footer {
    overflow: hidden;
}

/* RESPONSIVE MENU  -----------------------------------------------------------------*/
@media only screen and (max-width: 1100px) {
    /* hide classic menu */
    #menu-wide {
        display: none;
    }

    /* position home link at left and hamburger will be positionned at right */
    #monogram {
        flex-grow         : 1;
    }


    /*disable horizontal scroll*/
    #root {
        position        : relative;
        overflow-x      : hidden;
    }

    /*show responsive menu and position at the right of the screen*/
    #menu-responsive {
        display          : block;
        position         : absolute;
        margin           : 0;
        right            : 0;
        width            : 100vw;
        height           : 100vh;

        z-index          : 99;

        transform-origin : 0% 0%;
        transform        : translate(200%, 0);

        transition       : transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    }

    #menu-responsive ul {
        display          : flex;
        flex-direction   : column;

        position         : absolute;
        margin           : 0;
        right            : 0;
        top              : var(--menu-height);
        min-width        : 50vw;
        height           : 100vh;
        text-align       : right;
        padding-top      : 2%;
        padding-right    : 10%;

        background       : transparent;
        backdrop-filter: blur(6px);
        list-style-type  : none;
    }

    #menu-responsive ul li {
        padding-top: 2%;
    }


    #menu-responsive.open {
        transform: none;
        position: fixed;
    }


    #hamburger_icon {
        display: block;
        position: relative;
        margin-right: 10%;
        width: 35px;
        height: 35px;
        vertical-align: middle;
        z-index: 100;

        -webkit-user-select: none;
        user-select: none;
        cursor: pointer;
    }

    #hamburger_icon img {
        height               : 50px;
    }



   .shown {
        display: block;
    }

   .hidden {
        display: none;
    }

}

