:root {
    --menu-height: 60px;
}

html {

}

body {
    margin               : 0!important;
    padding              : 0!important;
    top                  : 0!important;
    font-family          : 'Open Sans', sans-serif;
}

a {
    text-decoration      : none;
}

.rounded-img {
    border-radius: 50%;
}

#root a{
    color                : lightgray;
}

#root a:hover {
    color                : #c99133;
}

#root a:active {
    color                : #ff6f00;
    font-weight          : bold;
}


/* MENU-------------------------------------------------------------------------*/
/*hide burger menu*/
#menu-responsive, #hamburger_icon {
    display              : none;
}
.topnav{
    display              : flex;
    width                : 100%;
    height               : var(--menu-height);
    margin-block-start   : 0;
    margin-block-end     : 0;
    padding-inline-start : 0;
    position             : fixed;
    top                  : 0;
    left                 : 0;
    padding              : 0;
    z-index              : 1000;
    text-transform       : uppercase;
}

/*blur backdrop-filter workaround for nested elements*/
.topnav::before {
    content              : "";
    position             : absolute;
    width                : 100%;
    height               : 100%;
    background           : transparent;
    backdrop-filter      : blur(5px);
    z-index              : 800;
}

#menu-wide {
    flex                 : 3;
    margin-right         : 10%;
    overflow             : hidden;
}
#monogram {
    margin-left          : 10%;
    flex                 : 1;
    color                : #c99133;
    font-weight          : bold;
    z-index: 1000;
}

#menu-wide > ul {
    display              : flex;
    text-align           : right;
}

#menu-wide> ul > li {
    display              : inline;
    flex                 : 1;
}


/*HEADER ----------------------------------------------------------------------------*/

header {
    height: 350px;
    width: 100%;
    background: linear-gradient(black,#0f2629,#457c82);
    display: block;
    border-bottom: #c99133 solid 2px;
    z-index: 0!important;

}

#profile_pic{
    display: block;
    top: 240px;
    left: 45%;
    position: absolute;
    width: 10%;
    border: #c99133 solid 2px;
}

#main-header h1 {
    color: white;
    display: block;
    width: 100%;
    position: absolute;
    top: 5%;
    text-align: center;
    text-transform: uppercase;
    font-size: 5em;
    z-index: 1;
}

/* FOOTER ---------------------------------------------------------------------------*/
footer {
    overflow: hidden;
}

/* RESPONSIVE MENU  -----------------------------------------------------------------*/
@media only screen and (max-width: 1100px) {
    /* hide classic menu */
    #menu-wide {
        display: none;
    }

    /* position home link at left and hamburger will be positionned at right */
    #monogram {
        flex-grow         : 1;
    }


    /*disable horizontal scroll*/
    #root {
        position        : relative;
        overflow-x      : hidden;
    }

    /*show responsive menu and position at the right of the screen*/
    #menu-responsive {
        display          : block;
        position         : absolute;
        margin           : 0;
        right            : 0;
        width            : 100vw;
        height           : 100vh;

        z-index          : 999;

        transform-origin : 0% 0%;
        transform        : translate(200%, 0);

        transition       : transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);


    }

    #menu-responsive ul {
        display          : flex;
        flex-direction   : column;

        position         : absolute;
        margin           : 0;
        right            : 0;
        top              : var(--menu-height);
        min-width        : 50vw;
        height           : 100vh;
        text-align       : right;
        padding-top      : 2%;
        padding-right    : 10%;
        z-index          : 1000;
        list-style-type  : none;
        background-color : rgba(0,0,0,0.025);
        backdrop-filter  : blur(8px)!important;

    }

    #menu-responsive ul li {
        padding-top: 2%;
    }


    #menu-responsive.open {
        transform: none;
        position: fixed;
    }


    #hamburger_icon {
        display: block;
        position: relative;
        margin-right: 10%;
        width: 35px;
        height: 35px;
        vertical-align: middle;
        z-index: 1000;

        -webkit-user-select: none;
        user-select: none;
        cursor: pointer;
    }

    #hamburger_icon img {
        height               : 50px;
    }



   .shown {
        display: block;
    }

   .hidden {
        display: none;
    }

}

/* MAIN RESPONSIVE ------------------------------------------------------------------*/
@media only screen and (max-width: 320px) {
    header {
        height: 200px!important;
    }
    #profile_pic {
        width: 40%!important;
        top: 130px!important;
        left: 30%!important;
    }

    #main-header h1{
        font-size: x-large;
        top: 7%;
    }
}


@media only screen and (min-width: 321px) and (max-width: 360px){
    header {
        height: 200px!important;
    }
    #profile_pic {
        width: 30%!important;
        top: 140px!important;
        left: 35%!important;
    }

    #main-header h1 {
        font-size: xx-large;
        top: 6%;
    }
}


@media only screen and (min-width: 361px) and (max-width: 480px){
  /*HEADER*/
   header {
        height: 200px!important;
    }
    #profile_pic {
        width: 30%;
        top: 125px;
        left: 35%;
    }

    #main-header h1 {
        font-size: 2em;
        top: 6%;
    }

}

@media only screen and (min-width:481px) and (max-width:680px){
    header {
        height: 250px!important;
    }

    #profile_pic {
        width: 30%!important;
        top: 160px!important;
        left: 35%!important;

    }

    #main-header h1 {
        font-size: 2.5em;
        top: 7%;

    }
}

@media only screen and (min-width: 681px) and (max-width: 768px) {
    #profile_pic {
        width: 25%;
        left: 37.5%;
        top: 233px;
    }

   #main-header h1 {
        font-size: 3.5em;
        top: 10%;
    }

}

@media only screen and (min-width: 769px)and (max-width: 1100px) {
    :root {
        --menu-height: 100px;
    }

    #root img {
        padding-top: 5%;
        padding-right: 10%!important;
        height: 80px!important;
    }
    .nav-name {
        font-size: x-large;
    }

    #profile_pic {
        width: 20%;
        top: 220px;
        left: 40%;
    }

    #main-header h1 {
        font-size: 4em;
        top: 8%;
    }

}

@media only screen and (min-width: 1101px) and (max-width: 1300px){
    #profile_pic {
        width: 15%;
        top: 233px;
        left: 42.5%;

    }

}



