:root {
    --menu-height: 60px;
}

html {

}

body {
    margin               : 0!important;
    padding              : 0!important;
    top                  : 0!important;
    font-family          : 'Open Sans', sans-serif;
}

a {
    text-decoration      : none;
}

menu {
    height               : var(--menu-height);
    width                : 100%;
    margin-block-start   : 0;
    margin-block-end     : 0;
    padding-inline-start : 0;
    display              : flex;
    position             : fixed;
    top                  : 0;
    left                 : 0;
    padding              : 0;
    z-index              : 1000;
    background           : transparent;
    backdrop-filter      : blur(5px);
    text-transform       : uppercase;

}

/* MENU-------------------------------------------------------------------------*/
#menu-wide {
    flex                 : 1;
    margin-right         : 10%;
    overflow             : hidden;
}

#monogram {
    margin-left          : 10%;
    flex                 : 1;
}

.nav-name {
    padding-left         : 1%;
}

#hamburger_icon img {
    height               : 50px;
}

#menu-wide > ul {
    display              : flex;
    text-align           : center;
}

#menu-wide> ul > li {
    display              : inline;
    flex                 : 1;
}

#menu-responsive, #hamburger_icon {
    display               : none;
}

/*HEADER ----------------------------------------------------------------------------*/

header {


}

footer {
    overflow: hidden;
}

/* RESPONSIVE MENU  -----------------------------------------------------------------*/
@media only screen and (max-width: 768px) {
    /* hide classic menu */
    #menu-wide {
        display: none;
    }

    /* position home link at left and hamburger will be positionned at right */
   menu {
        width           : 100%;
        display         : flex;
        align-items     : center;
        overflow-x      : hidden;
        position        : fixed;
    }

   #monogram {
      flex-grow         : 1;
  }

   #menu-responsive {
       display          : block;
       position         : absolute;
       margin           : 0;
       right            : 0;
       top              : 0;
       width            : 100vw;
       height           : 100vh;
       z-index          : 99;
       transform-origin : 0% 0%;
       transform        : translate(200%, 0);
       transition       : transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
   }

       /* position responsive menu at the right of the screen */
    #menu-responsive ul {
        display       : flex;
        flex-direction: column;
        position      : fixed;
        margin        : 0;
        right         : 0;
        top           : var(--menu-height);
        min-width: 50vw;
        height   : 100vh;
        padding: 56px 0 0;
        text-align: left;

        background: #ededed;
        list-style-type: none;
    }

    #menu-responsive.open {
        transform: none;
        position: fixed;
    }

    #hamburger_icon {
        display: block;
        position: relative;
        margin-right: 10%;
        width: 35px;
        height: 35px;
        vertical-align: middle;
        z-index: 100;

        -webkit-user-select: none;
        user-select: none;
        cursor: pointer;
    }

}