:root {
    --nav-height: 50px;
}

    html {
        font-family: 'Open Sans', sans-serif;
    }

    body {
        background: linear-gradient(#457c82, #0f2629);
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    nav {
        background-color: rgba(255, 255, 255, 0);
        width: 100%;
        position: sticky;
        top: 0;
        padding-top: 0;
        margin: 0;
        z-index: 1000;
        overflow: hidden;
        backdrop-filter: blur(3px);
        color: white;
        text-transform: uppercase;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        height: var(--nav-height);
    }

    nav > .sitename {
        font-weight: bolder;
        font-size: x-large;
        align-self: flex-start;
        padding-left: 10%;
        vertical-align: middle;
        line-height: var(--nav-height);

    }

    nav > ul {
        align-self: flex-end;
        padding-right: 10%;
    }

    nav > ul > li {
        display: inline;
    }


    nav a {
        text-decoration: none;
        color: white;
    }

    nav a:hover {
        color: lightgreen;
    }

    nav a:active {
        color: green;
    }

    header {
        display: block;
        margin: 0;
        margin-top: -50px;
        background-image: linear-gradient(
                rgba(0, 0, 0, 0.4),
                rgba(0, 0, 0, 0.4)
        ), url('../img/header-img.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
        height: 500px;
        width: 100%;

    }

    h1, h2 {
        color: white;
        text-align: center;
        text-transform: uppercase;
        vertical-align: middle;
        z-index: 100;
    }

    h1 {
        font-size: 100px;
    }

    h2 {
        font-size: 50px;
    }

    h6 {
        color: white;
        text-transform: uppercase;
        text-align: left;
        font-size: large;
        font-weight: lighter;
        padding-bottom: 0;
    }

    main {
        display: flex;
        flex-direction: row;
        position: relative;
        margin-top: 3%;
        margin-bottom: 3%;
    }

    .vcn {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
    }


    .left-content {
        flex: 3;

    }

    article {
        display: block;
        margin-left: 10%;
        margin-top: 100px;
        background-color: lightgray;

    }

    article section {
        position: relative;
        top: -100px;
    }

    .primepicture {
        display: block;
        position: relative;
        border-radius: 380px;
        width: 200px;
        height: 200px;
        margin-left: auto;
        margin-right: auto;
        top: -100px;
    }

    aside {
        padding-left: 5%;
        flex: 1;
    }

    aside > ul {
        list-style-type: none;
    }

    aside > ul > li > a {
        text-decoration: none;
        color: lightgray;
    }

    aside a:hover {
        color: goldenrod;
    }

    aside a:active {
        color: gold;
    }

    aside > section {
        padding: 2%;
    }

    main section {
        padding-top: 5%;
        padding-left: 5%;
        padding-right: 5%;
    }


    .page-bottom {
        display: flex;
        width: 100%;
        bottom: 0;
        color: white;
        background: linear-gradient(to right, rgb(255, 166, 0), rgb(3, 61, 27));

    }

    .social-media {
        display: block;
        margin-right: 10%;
        text-align: right;
        flex: 1;
    }

    .social-media > ul {
        list-style-type: none;
    }

    .social-media > ul > li {
        display: inline;
    }

    .legal {
        margin-left: 10%;
        text-align: left;
        flex: 1;
    }

    .legal > ul {
        list-style-type: none;
    }

    .legal > ul > li {
        display: inline;
    }


/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 960px){
    .legal {
        margin-left: 5%;
        text-align: left;
        flex: 2;
    }

    .page-bottom {
        font-size: small;
    }

    h2 {
        font-size: 60px;
    }


}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    main {
        flex-direction: column;
    }

    .primepicture {
        width: 100px!important;
        height: 100px!important;
        top: -50px;
    }


    article {
        margin-right: 10%;
    }

    article section {
        top: -50px;
    }

    header {
        padding-top: 10%;
        height: 200px;
    }

    h1 {
        font-size: xx-large;
    }
    h2 {
        font-size: larger;
    }

    h6 {
        text-align: center;
    }

    aside {
        text-align: center;
        padding: 0;
    }

    aside > ul {
        padding: 0!important;
        display: flex;
    }

    aside > ul > li {
        flex: 1;
    }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  header {
      padding-top: 10%;
      height: 300px;
  }

   h1 {
       font-size: 50px;
   }

   h2 {
       font-size: 30px;
   }
    main {
        flex-direction: column;
    }

    article {
        margin-right: 10%;
        flex: 1;
    }

    .legal {
        margin-left: 5%;
        text-align: left;
        flex: 1;
        padding-top: 2%;
    }
    .social-media {
        margin-right: 10%;
    }
    .social-media li {
        display: block!important;
    }

    .page-bottom {
        font-size: small;
    }

    .primepicture {
        width: 150px;
        height: 150px;
    }

    aside {
        padding-left: 0 !important;
        text-align: center;
    }


  h6 {
      text-align: center;
  }

    aside >ul>li {
        display: inline-block;
        flex: 1;
        text-align: center;
    }

    aside > ul > li :first-child {
        text-align: left;
    }

    aside > ul >li :last-child {
        text-align: right;
    }

    aside > ul {
        display: flex;
        padding: 0!important;
        margin: 0!important;
    }

    .left-content {
        flex: 1;
    }

}




