#container-users {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
}

#container-resource {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
}
