/* Change Brand Font */
.navbar-brand {
    font-family: 'Tahoma', sans-serif;
    font-size: 2em;
    font-weight: bold;
  }
  
  /* Change Navigation Color */
  .navbar #myMenu .custom-nav .nav-item a {
    color: #fff;
  }
  
  .navbar #myMenu .custom-nav .nav-item a:hover {
    color: #a51a1a;
  }
  
  /* Make Header Image Responsive */
  .back-image {
    font-size: 20px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 70vh;
    border-radius: 0px;
    margin-top: 74px;
  }
  
  /* Header Image Sub-Title */
  .st {
    color: #f6f7f8;
    font-size: 50px;
  }
  
  /* Change Footer Social Icon Color */
  a {
    color: #a51a1a;
  }
  
  a:hover {
    color: #E994A2;
  }

  h2{
    font-size: 30px;
    color: #a51a1a;
  }
  h4{
    font-size: 20px;
  }